/*None*/
@media screen and (max-width: 575.98px) {
  .title {
    font-size: 1.2rem;
  }
  .count {
    font-size: 1rem;
  }
}
/*sm*/
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .title {
    font-size: 1.2rem;
  }
  .count {
    font-size: 1rem;
  }
}
/*md*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .title {
    font-size: 1.4rem;
  }
  .count {
    font-size: 1.2rem;
  }
}
