/*xxl*/
@media screen and (min-width: 1400px) {
  .datePicker {
    margin-left: 1.9rem;
  }
  .roomOption {
    margin-left: 1.9rem;
  }
}

.icon {
  color: #cdcdcd;
  margin: auto;
}
.datePicker {
  position: absolute;
  top: 3.3rem;
  z-index: 3;
}
.roomOption {
  position: absolute;
  top: 3.3rem;
  z-index: 6;
  color: black;
  background-color: white;
  padding: 1rem;
}
.selectNumberBtn {
  border: 0.05rem solid #0070c1 !important;
  color: #0070c1 !important;
  background-color: white !important;
  padding-top: 0.25rem !important;
  font-weight: 600;
}
.selectNumberBtn:hover {
  color: #0070c1;
}
