/*None*/
@media screen and (max-width: 575.98px) {
  .component {
    position: relative;
    top: 3rem;
    margin-bottom: 7rem;
  }
  .name,
  .price {
    font-size: 1rem;
  }
  .rating {
    font-size: 0.9rem;
  }
}
/*sm*/
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .component {
    position: relative;
    top: 3rem;
    margin-bottom: 7rem;
  }
  .name,
  .price {
    font-size: 1rem;
  }
  .rating {
    font-size: 0.9rem;
  }
}
/*md*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .component {
    position: relative;
    top: 1.5rem;
    margin-bottom: 7rem;
  }
  .name,
  .price {
    font-size: 1rem;
  }
  .rating {
    font-size: 0.9rem;
  }
}
/*lg*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .component {
    position: relative;
    top: 1.5rem;
    margin-bottom: 7rem;
  }
  .name,
  .price {
    font-size: 1rem;
  }
  .rating {
    font-size: 0.9rem;
  }
}
